body {
  background: linear-gradient(-45deg, #ed5a2d, #de2c70, #2ac6ff, #2bfccb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
